@font-face {
    font-family: 'sfpro';
    src: url(assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
    font-family:'roboto' ;
    src: url(assets/fonts/Roboto/static/Roboto-Regular.ttf);
}
.signup-image img{
    /* height: 550px; */
    width: 516px;
    height: fit-content;
    margin-top: 0%;
}

.box-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-text p{
    font-family: 'roboto';
    font-size: 16px;
}

.form-control{
    width: 360px;
    height: 40px;
    background-color: #F7FBFF;
    
}
.form-control::placeholder{
    color: #8897AD;
    opacity: 0.5;
}

.form-label{
    font-family:'roboto';

}
.signin-btn{
    font-family: 'roboto';
    font-size: 20px;
    padding: 5px 150px 5px 150px  ;
    background-color: #162D3A;
    border-style: none;
    margin-top: 20px;
}
.signin-btn:hover{
    background-color: #234a61;
    border-style: none;
    
}

.login-form-parent{
    height: fit-content;
    width: fit-content;
}

.login-google{
    font-family: 'roboto';
    font-size: 16px;
    padding: 10px 100px 10px 100px ;
    background-color: #F3F9FA;
    border-style: none;
    border-radius: 10px;
}

.login-to-sign-up{
    font-family: 'roboto';
    font-size: 18px;
    display: flex;
    margin-top: 50px;
    
}
.login-to-sign-up a{
    margin-left: 5px;
}

.sign-up-options{
    height: fit-content;
    width: fit-content;
    
}

.forgot{

    font-family: 'roboto';
    font-size: 16px;
}

.rights{
    color: #959CB6;
    font-family: 'roboto';
    font-size: 16px;
    margin:100px 0px 10px 0px ;
}

.login-to-sign-up a{
    text-decoration: none;
    
}